<% provide(:title, 'About') %>

<h2>About Rhemaholic</h2>

<div class="panel panel-default container about-container">
  <div class="panel-body about">
    <%= image_tag "icon.png", alt: "Logo", class: "profile-img" %>
    <p>
      Man shall not live by bread alone, but by every <em>"rhema"</em> that proceeds of out of the mouth of God. It's all about God. It's all about His Word. God and His Word are one. David said
      <quote><em>"Your words are so choice, so tasty; I prefer them to the best home cooking."</em></quote>
      Jesus also said
      <quote><em>"It takes more than bread to stay alive. It takes a steady stream of words from God's mouth."</em></quote><br>
      <strong>(Psalm 119:103; Matthew 4:4)</strong>
    </p>
    <p>
      Rhemaholic seeks to provide an avenue for lovers of the Word to get a daily stream of Words flowing from the belly of his people.<br><br>
      <quote>"So here's what I want you to do, ...each one of you be prepared with something that will be useful for all: Sing a hymn, teach a lesson, tell a story, lead a prayer, provide an insight."</quote><br>
      <strong>(1 Corinthians 14:26; John 7:38)</strong><br>
      <br>
      If you have an insight, a rhema, a question, a psalm, a song, a prayer, whatever will edify, you can post it here.
    </p>
    <hr>
    <p>
      <strong>
        There is a stream of living waters in you - let if flow!
      </strong>
    </p>
    <% unless signed_in? %>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
        <p></p>
        <p>Already have an account? <%= link_to "Sign in.", signin_path %></p>
    <% end %>
  </div>
</div>