<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<div id="wrapper">
  <section id="primary">
     <h3>Please get in touch</h3>
     <p>You are welcome to give suggestions, make enquiries, make complaints, or clarify any other thing the help section does not address.</p>
     <p>Please only use phone contact for urgent inquiries.</p>
  </section>
  <section id="secondary">
     <ul class=contact-info>
        <li class="phone"><a href="tel:08069473025">0806XXXXXX</a></li>
        <li class="mail"><a href="mailto:rhemaholic@gmail.com">rhemaholic@gmail.com</a></li>
        <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=rhemaholic">@rhemaholic</a></li>
     </ul>
  </section>
</div>