<% provide(:title, 'Help') %>

<section class="cd-faq">
  <!-- <ul class="cd-faq-categories">
    Help Categories
    <li><a class="selected" href="#basics">Basics</a></li>
    <li><a href="#account">Account</a></li>
  </ul>  --><!-- cd-faq-categories -->

  <div class="cd-faq-items">
    <ul id="basics" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Basics</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">How do I change my password?</a>
        <div class="cd-faq-content">
          <p>On the Account Menu, select Settings. There, you can change your name, email, and password.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">How do I sign up?</a>
        <div class="cd-faq-content">
          <p>Simply follow the sign up link on the home page, or <%= link_to "click here", signup_path %></p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Can I remove a post?</a>
        <div class="cd-faq-content">
          <p>Yes. If you are the author of the post, there will be a delete option for the post.</p>
        </div> <!-- cd-faq-content -->
      </li>

    </ul> <!-- cd-faq-group -->

    <ul id="account" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Account</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">How do I change my password?</a>
        <div class="cd-faq-content">
          <p>On the Account Menu, select Settings. There, you can change your name, email, and password.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">How do I delete my account?</a>
        <div class="cd-faq-content">
          <p>Why would you want to do that?!</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">How do I change my account settings?</a>
        <div class="cd-faq-content">
          <p>On the Account Menu, select Settings. Change the setting as desired.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">I forgot my password. How do I reset it?</a>
        <div class="cd-faq-content">
          <p></p>
        </div> <!-- cd-faq-content -->
      </li>
    </ul> <!-- cd-faq-group -->
  </div> <!-- cd-faq-items -->
  <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->