<% @user = current_user %>
<div class="row">
  <aside class="col-sm-5">
    <section class="panel panel-default">
      <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-sm-7">
    <h3>Your recent posts</h3>
    <%= render 'shared/feed' %>
  </div>
</div>

