<div class="center jumbotron">
  <h1>Welcome to Rhemaholic</h1>
  <hr>
  <h2>
    David said 
    <quote><em>"Your words are so choice, so tasty; I prefer them to the best home cooking."</em></quote>
    Jesus also said 
    <quote><em>"It takes more than bread to stay alive. It takes a steady stream of words from God's mouth."</em></quote><br><br>
    <strong>(Psalm 119:103; Matthew 4:4)</strong>
  </h2>
  <hr>
  <h2>
    So, why would you live on bread alone?
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>