<p><%= comment.user.name %> said:</p>

<blockquote class="comment">
  <%= sanitize comment.content, tags: %w(a em) %>
</blockquote>

<% if current_user==comment.user %>
    <%= link_to 'Remove comment', [comment.micropost, comment],
                method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>