<% unless current_user?(@user) %>
    <div id="follow_form">
      <% if current_user.following?(@user) %>
          <%= link_to "Following", unfollow_user_path(@user), method: :post, remote: true, class: "btn btn-default following" %>
      <% else %>
          <%= link_to "Follow", follow_user_path(@user), method: :post, remote: true, class: "btn btn-default unfollowed" %>
      <% end %>
    </div>
<% end %>

