<p class="stats">
  <!--<a href="">-->
    <strong id="leaders" class="stat">
      <%= @user.leaders.count %>
    </strong>
    following
  <!--</a>-->
  <!--<a href="">-->
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  <!--</a>-->
</p>