<div class="panel-body">
  <p>
    <%= link_to gravatar_for(current_user, size: 100), current_user, class: "img-responsive" %>
  </p>
  <p class="lead">
    <%= link_to current_user.name, current_user %>
  </p>
  <p>
    <%= pluralize(current_user.microposts.count, "Post") %>
  </p>
  <%= render 'shared/stats' %>
  <p>
    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
  </p>
</div>