/* universal */

html {
  overflow-y: scroll;
}

body {
    padding-top: 70px;
    background-color: #e9eaed;
    font-family: 'Nunito', sans-serif;
    font-size: 13.45px;
    font-weight: lighter;
}

section {
  overflow: auto;
  overflow: hidden;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.logo {
    height: 45px;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  line-height: 1.4em;
}

/* header */

.about-container {
    max-width: 70%;
    margin: auto;
}

.about {
    padding: 2em;
}

@media (max-width: 770px) {
    .about-container {
        max-width: 99%;
        margin: auto;
    }

    .about {
        padding: 0.8em;
        text-align: justify;
        font-size: 12.5px;
    }

    .stats {
        overflow: auto;
        margin-top: 0;
        padding: 0;
    }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

.btn {
  margin-top: 1em;
}

/* forms */

#error_explanation {
    color: #f00;
}

#error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0;
  }

.field_with_errors .form-control {
  border-color: red;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.field_with_errors .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}

.checkbox span {
  margin-left: 20px;
  font-weight: normal;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */
.users {
    list-style: none;
    margin: 0;
}

.users li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }

.error {
  color: red;
  display: block;
  font-weight: lighter;
  font-style: italic;
}

/* microposts */
.post-show {
    position: absolute;
    margin: -2em 0;
    background: url('restaurant.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 76%;
    z-index: -10;
}

select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin: 2px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
select::-moz-placeholder {
    color: #999;
    opacity: 1;
}
select:-ms-input-placeholder {
    color: #999;
}
select::-webkit-input-placeholder {
    color: #999;
}
select[disabled],
select[readonly],
fieldset[disabled] select {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

.user-panel {
    margin-bottom: 4em;
}

.post-panel {
    padding: 2em;
    line-height: 2;
    letter-spacing: 0.4px;
}

@media (max-width: 770px) {
    .post-panel {
        padding: 5px;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

.btn-post {
    margin: 0;
    border-radius: 15px;
}

blockquote {
    font-size: inherit;
}

.microposts {
    list-style: none;
    padding: 0;
}

.micropost {
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0px -2px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0px -2px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0px -2px -2px rgba(0, 0, 0, 0.3);
}

.microposts li {
    padding: 10px 5px 5px 0;
    border-top: 1px solid #e8e8e8;
    background: url('ricepaper2.png') no-repeat;
    background-size: cover;
}

.microposts li .row {
    padding: 0 6px;
}

@media (max-width: 770px) {
    .microposts li {
        padding: 8px 4px 4px 0;
        border-top: 1px solid #e8e8e8;
        background: url('ricepaper2.png') no-repeat;
        background-size: cover;
    }
}

.user {
    margin-top: 5em;
    padding-top: 0;
}

#contact_comments {
    height: 150px;
    resize: none;
}

.content {
    display: block;
    margin-left: 45px;
    margin-right: 20px;
    text-align: justify;
    line-height: 1.5em;
}

@media (max-width: 770px) {
    .content {
        margin-left: 30px;
        margin-right: 15px;
        text-align: left;
    }
}

.content img {
    display: block;
    padding: 5px 0;
}

.timestamp {
    color: #adadad;
    display: block;
    margin-left: 40px;
    font-size: 12px;
}

.gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

aside textarea {
    height: 100px;
    margin-bottom: 5px;
}

span.picture {
    margin-top: 10px;
}
input {
    border: 0;
}

.panel-heading {
    background-color:#f9fafb;
    color:#555555;
}

textarea {
    resize: vertical;
}

.well {
    padding-bottom: 3px;
}

.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
}

.stats a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    color: gray;
}

@media (max-width: 770px) {
    .stats {
        font-size: 11px;
    }

    .stats a {
        padding: 0 2.5px;
    }
}

.stats a:first-child {
     padding-left: 0;
     border: 0;
}

.stats a:hover {
     text-decoration: none;
     color: blue;
 }

.stats strong {
    display: block;
}

.following {
    color: #fff;
    background: green;
}

.following, .unfollowed {
    width: 12em;
}

.following:hover, .unfollowed:hover {

}

.new_post {
    -webkit-animation-name: blink;
    -moz-animation-name: blink;
    -o-animation-name: blink;
    animation-name: blink;

    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes blink {
    0%   { background: lightgrey; }
    30%  { background: #f5f5f5 }
    60%  { background: #ffffff; }
    70%  { background: #f5f5f5; }
    100% { background: inherit; }
 }
@-moz-keyframes blink {
    0%   { background: lightgrey; }
    30%  { background: #f5f5f5 }
    60%  { background: #ffffff; }
    70%  { background: #f5f5f5; }
    100% { background: inherit; }
 }
@-o-keyframes slide {
    0%   { background: lightgrey; }
    30%  { background: #f5f5f5 }
    60%  { background: #ffffff; }
    70%  { background: #f5f5f5; }
    100% { background: inherit; }
}
@keyframes slide {
    0%   { background: lightgrey; }
    30%  { background: #f5f5f5 }
    60%  { background: #ffffff; }
    70%  { background: #f5f5f5; }
    100% { background: inherit; }
}

.load_ajax {
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background: url('ajax_loading.gif') no-repeat;
    background-position: center;
    z-index: 4;
    opacity: 0.7;
}
