<footer class="footer">
  <small>
    &copy 2015. G'Tim Inc
  </small>
  <nav>
    <ul class="pull-right">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>